html,
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  height: 100%;
}

.page-container {
  display: flex;
  background-color: rgb(215, 110, 128);
  .main-container {
    width: 100%;
    text-align: center;
    padding-top: 20%;
    h1 {
      font-size: 50px;
    }
  }
}
