html,
body {
  margin: 0;
}

.sidebar-container {
  background-color: whitesmoke;
  width: 220px;
  padding-top: 20px;

  .sidebar-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}

.scrollingDiv {
  width: 300px;
  overflow-y: scroll;
  scrollbar-color: pink
  scrollbar-width: thin;
}
